
@font-face{
	font-family:WCManoNegraBta;
	src:url("../fonts/WCManoNegraBta.otf");
}
@font-face{
	font-family:WCManoNegraBoldBta;
	src:url("../fonts/WCManoNegraBoldBta.otf");
}
@font-face{
	font-family:Roboto-Regular;
	src:url("../fonts/Roboto-Regular.ttf");
}
@font-face{
	font-family:Roboto-Light;
	src:url("../fonts/Roboto-Light.ttf");
}
@font-face{
	font-family:Roboto-Bold;
	src:url("../fonts/Roboto-Bold.ttf");
}
@font-face{
	font-family:Roboto-LightItalic;
	src:url("../fonts/Roboto-LightItalic.ttf");
}

@font-face{
	font-family:Quicksand-Regular;
	src:url("../fonts/Quicksand-Regular.otf");
}
@font-face{
	font-family:Quicksand-Bold;
	src:url("../fonts/Quicksand-Bold.otf");
}