.banner3Rmenu1 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #61c46e;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #41b851 !important; }

.banner3Rmenu2 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #f14b52;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ee252d !important; }

.banner3Rmenu3 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #31bef2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0ab1f0 !important; }

.banner3Rmenu4 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #f383a7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f16a95 !important; }

.banner3Rmenu5 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #388762;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f6e41 !important; }

.banner3Rmenu6 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #f9a94b;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f79826 !important; }

.banner3Rmenu7 {
  width: 124px !important;
  height: 124px !important;
  border-radius: 50% !important;
  margin: 1em;
  padding: 8px;
  word-wrap: break-word !important;
  white-space: normal;
  font-family: Roboto-LightItalic;
  color: #ffffff !important;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border-width: 7px;
  border-style: solid;
  border-color: #a88dc1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9677b5 !important; }

/*# sourceMappingURL=home-banner3-menu.css.map */
